@font-face {
	font-family: 'Apple Chancery';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/apple-chancery.woff') format('woff');
}

body {
	background: #fdab00;
	color: #020202;
}

h1 {
	font-family: monospace;
	text-align: center;
	font-size: 50px;
}

.container {
	background: black;
	width: 480px;
	font-family: 'Calistoga', cursive;
	overflow: auto;
	margin: 0 auto;
	padding: 0;
}

#left {
	float: left;
	width: 230px;
	padding: 0px;
	margin: 10px 0px 10px 10px;
}

#right {
	float: left;
	width: 230px;
	padding: 0px;
	margin: 10px 10px 10px 0px;
}

#top-image-container,
#bottom-image-container {
	margin: 0 auto;
	height: 217.5px;
}

img {
	width: 235px;
	/*height: 250px;*/
	padding: 0px;
	margin: 0 auto;
}

.two-p {
	margin: 0px auto;
	padding: 5px 10px 10px 10px;
	text-align: center;
	font-size: 20px;
	width: 210px;
	/*height: 450px; this broke firefox*/
}	

.one-p {
	margin: 0px;
	padding: 50px 30px 10px 30px;
	text-align: center;
	font-size: 18px;
	height: 190px;
}

#chunky-quote {
		margin: 0px;
		padding: 20px 30px 40px 30px;
		text-align: center;
		font-size: 18px;
		height: 190px;
}

.color-one {
	background: #fdab00;
}

.color-two {
	background: #020202;
	color: #fdab00;
}

.color-three {
	background: #020202;
	color: #fdab00;
}

.color-four {
	background: SeaGreen;
}

.emphasis {
	font-weight: 900;
	font-family: 'Apple Chancery';
}